.minus {
  border: 3px solid #dc3545;
}
.plus {
  border: 3px solid #198754;
}
body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.appContainer {
  text-align: center;
  height: 100vh;
  width: 100% !important;
  margin: auto auto;
}
.headerWrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fdac53;
  margin: 0;
  width: 100%;
}
input:focus {
  outline: none !important;
  border-color: inherit;
  box-shadow: 0 0 10px inherit;
}

select:focus {
  outline: none !important;
  border-color: inherit;
  box-shadow: 0 0 10px inherit;
}
table {
  border-collapse: separate;
  width: 100% !important;
}
table button {
  background-color: #198754;
}
.headHeader {
  color: #fff;
  padding: 5px;
  margin-top: 10px;
}
td {
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.red:hover {
  background-color: #dc3545;
  font-size: larger;
  font-weight: bolder;
}
.green:hover {
  background-color: #198754;
  font-size: larger;
  font-weight: bolder;
}
.imageBg {
  width: 100%;
  display: flex;
  height: 50%;
  flex-direction: row;
  justify-content: center;
}
#balance {
  color: #198754;
  margin-top: 40px;
  margin-bottom: 40px;
}
.actionWrap {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto auto;
  background-color: #198754;
  border-radius: 5px;
  margin-bottom: 10px;
}
.actionWrap h4 {
  padding: 10px;
  color: #fff;
}
/* .formWrap {
  width: 90%;
  box-sizing: content-box;
  margin-top: 10px;
  margin: auto auto;
} */

.form select {
  text-align: center;
  line-height: 50px;
  font-size: 16px;
}

.form {
  margin: auto auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.form button input {
  line-height: 30px;
  font-size: 16px;
}
.tablesWrap {
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: auto auto;
}
#incomesHeader {
  color: #198754;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
}
.tableWrap {
  width: 100%;
  margin: auto auto;
}
#expensesHeader {
  color: #dc3545;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
}
